@media (max-width: 1350px) {
  .carousel-item {
    position: relative;
      min-height: 20rem;
      min-width: 60rem;
      padding: 20px;
  }
}

@media (max-width: 992px) {
    .carousel-item {
      position: relative;
      min-height: 10rem;
      min-width: 40rem;
      padding: 20px;
    }

    .header__content {
      margin-top: 40px;
    }
    .header__text-content__title {
      font-size: 50px;
    }
    .header__text-content__text {
      font-size: 16px;
    }
    .nav-list li {
      margin-left: 22px;
    }
    .nav-list_item {
      margin-top: 5px;
    }
  
    .section__products__nav__top__see-all {
      margin-top: 50px;
    }
  }
  
@media (max-width: 767px) {
    .cart-wrapper {
      padding-top: 0;
    }

    .nav {
      justify-content: center;
    }
    .logo {
      margin-top: 20px;
      margin-bottom: 20px;
    }
    .top-nav {
      justify-content: flex-end;
    }
    .nav-list {
      width: 100%;
    }
    .basket {
      margin-right: 25px;
    }
    .section__products {
      margin-top: 50px;
    }
    .categories {
      width: 100%;
      margin-top: 30px;
    }
    .section__clients {
      max-height: 200px;
    }
    .section__clients-container {
      height: min-content;
    }
    .carousel__products {
      margin-top: 0;
    }
    .section__products__cards {
      margin-right: 20px;
    }
    .furniture__collection__1-text__container {
      min-height: 0;
    }
    .furniture__collection__1-title {
      padding-top: 0;
    }

    .carousel-item {
      position: relative;
      min-height: 10rem;
      min-width: 30rem;
      padding: 20px;
    }

    .furniture__collection__1-img {
      max-width: 320px;
    }
  
    .furniture__collection__1__container {
      flex-direction: column;
      align-items: center;
      max-width: 650px;
    }
    .furniture__collection__1-text__container {
      margin: 0 auto;
    }
    .furniture__collection__1-title {
      margin: 0 auto;
    }
    .furniture__collection__1-subtitle {
      margin: 0 auto;
    }
  
    .furniture__collection__2__container {
      flex-direction: column;
      align-items: center;
      max-width: 650px;
    }
    .furniture__collection__2-text__container {
      margin: 0 auto;
    }
    .furniture__collection__2-title {
      margin: 0 auto;
    }
    .furniture__collection__2-subtitle {
      margin: 0 auto;
    }
  }
  
  @media (max-width: 690px) {

    .carousel-item {
      position: relative;
      min-height: 10rem;
      min-width: 25rem;
      padding: 20px;
    }


    .furniture__collection__1-img {
      background-size: 250px;
      background-position: center;
    }
  
    .section__products__nav__top__left-title {
      padding-right: 50px;
    }
    .section__products__nav__top__left-selling {
      padding-right: 0;
    }
    .section__products__nav__top__left-selling span {
      font-size: 20px;
    }
    .section__products__nav__top__left-selling :first-child {
      padding-right: 30px;
    }
  
    .section__products__cards__container {
      flex-direction: column;
      align-items: center;
    }
  
    .nav-list li {
      justify-content: space-between;
      margin: 10px 10px 10px 10px;
    }
  
    .header__text-content__title {
      font-size: 25px;
    }
  
    .furniture__collection__1-img {
      margin: 0 15px;
    }
    .furniture__collection__2-img {
      margin: 0 15px;
    }
  }
  
  @media (max-width: 430px) {
    .carousel-item {
      position: relative;
      min-height: 10rem;
      min-width: 20rem;
      padding: 20px;
    }


    .furniture__collection__1-text__container {
      width: 250px;
    }
    .section__products__nav {
      min-width: 300px;
      background-size: 0;
    }
    .furniture__collection__1-img {
      background-size: 250px;
    }
  }

  @media (max-width: 390px) {
    .top-nav {
      display: inline;
    }
  }
  
  @media (max-width: 370px) {
    .section__products__cards__container {
      flex-direction: row;
    }
    .section__products__nav__lower {
      width: 250px;
      margin: 0;
    }
    .logo {
      font-size: 30px;
    }
  }