ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul,
ol,
li {
  list-style: none;
  margin-left: -40px;
}

a {
  color: #000;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.wrapper {
  max-width: 100vw;
}

.color__wrapper {
  margin-top: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100vw;
  min-height: 150px;
  padding-top: 20px;
  background-color: rgba(0, 0, 0, 0.8);
}

.__container__main {
  max-width: 1440px;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
}

.__container {
  margin: 0 auto;
  padding: 15px;
  max-width: 1250px;
  font-family: 'Montserrat', sans-serif;
}

.header {
  margin: 0 auto;
}

.header__main {
  width: 50%;
  margin: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__main__telephone {
  margin: 10px;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.header__container {
  margin: 0 auto;
  max-width: 1440px;
}

@media (max-width: 700px) {
  .header__main {
    width: 100vw;
  }
}

.nav {
  min-height: 40px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #ff8000;
}

.nav__container {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.top-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__img {
  margin-bottom: 10px;
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.nav-list li {
  margin: 7.5px 7.5px 7.5px 42px;
  cursor: pointer;
}

.icon-nav {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding-top: 25px;
  padding-bottom: 25px;
}

.icon-nav img {
  max-width: 40px;
  max-height: 40px;
}

.icon-nav div {
  margin-left: 25px;
}

.nav-list_item_dropdown {
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.nav-list_item_dropdown_button {
  margin: 7.5px 7.5px 7.5px 42px;
}

.nav-list_item_dropdown_items {
  position: absolute;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  right: 0;
  z-index: 50;
  background-color: white;
  border: 25px solid white;
}

.nav-list_item_dropdown_items a {
  color: #ff8800;
  font-weight: 700;
  text-decoration: none;
}

.nav-list_item_dropdown_items div {
  color: #ff8800;
  font-weight: 700;
  margin-bottom: 10px;
}

.basket {
  width: 50px;
  height: 50px;
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 24px;
  cursor: pointer;
}

.basket span {
  margin: auto 0;
}

.basket__number {
  width: 15px;
  height: 15px;
  position: absolute;
  right: -6px;
  bottom: 18px;
  text-align: center;
  color: #fff;
  font-size: 12px;
  background-color: #ea0025;
  border-radius: 15px;
}

.section__products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 170px;
  margin-bottom: 100px;
  max-width: 1200px;
}

.section__products__container {
  width: 100%;
  max-height: 100%;
}

.section__products__nav {
  width: 100%;
  min-height: 300px;
}

.section__products__nav__top {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section__products__nav__top__left {
  max-width: 100%;
}

.section__products__nav__top__left-title {
  font-size: 34px;
  font-weight: 700;
  color: #3d3d3f;
}

.section__products__nav__top__left-selling {
  font-size: 23px;
  font-weight: 500;
  color: #a9a7a6;
}

.section__products__nav__top__left-selling :first-child {
  padding-right: 100px;
}

.section__products__nav__top__see-all {
  width: 103px;
  padding-right: 50px;
}

.section__products__nav__top__see-all span {
  font-size: 17px;
  color: #3d3d3f;
}

.categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 70%;
  margin: 0 auto;
  margin-top: 110px;
}

.categories span {
  padding: 10px;
  border-radius: 60px;
  font-size: 18px;
  margin: 15px;
  font-weight: 600;
  color: #a9a7a6;
  overflow: hidden;
  cursor: pointer;
}

.activeItem {
  background-color: #2b2b2b;
  color: #000;
}

.section__products__cards__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 100vw;
  min-height: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section__products__cards__img {
  position: absolute;
  bottom: 7.5px;
  width: 280px;
  height: 280px;
}

.section__products__cards__img img {
  width: 280px;
  max-height: 280px;
  border-radius: 10px;
}

.sort {
  width: 200px;
  margin-right: 15px;
}

.sort__label b {
  margin: 5px;
}

.sort__label span {
  display: inline-block;
  width: 100px;
  padding-right: 5px;
  cursor: pointer;
}

.sort__popup {
  cursor: pointer;
}

.section__products__cards {
  margin-top: 60px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 315px;
  height: 444px;
  border: solid #ffa900;
  background-color: #ffdea4;
  border-radius: 5px;
}

.section__products__cards__button {
  position: absolute;
  top: -23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 140px;
  height: 40px;
  border-radius: 5px;
  background-color: #ff9000;
  cursor: pointer;
}

.section__products__cards__button p {
  margin-left: 10px;
}

.section__products__cards__basket-img {
  margin: auto 0;
  padding-left: 8px;
  width: 26px;
  max-height: 14px;
}

.section__products__cards__basket-img img {
  margin: auto 0;
  width: 17px;
  height: 17px;
}

.section__products__cards__title {
  width: 250px;
  margin-top: 30px;
  font-size: 14px;
  font-weight: 700;
  color: #3d3d3f;
}

.section__products__cards__price {
  width: 250px;
  margin-top: 10px;
  font-size: 19px;
  font-weight: 500;
  color: #3d3d3f;
}

.crossed__out__price {
  margin-left: 15px;
  text-decoration: line-through;
  color: #5f5f5f;
}

.section__products__cards__img {
  position: absolute;
  bottom: 7.5px;
  width: 300px;
}

.section__products__cards__img img {
  width: 300px;
  border-radius: 5px;
}

.nav-list_item__products {
  font-size: 25px;
  font-weight: 700;
}

.carousel {
  cursor: -webkit-grab;
  cursor: grab;
  overflow: hidden;
}

.inner-carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.carousel-item {
  position: relative;
  min-height: 30rem;
  min-width: 80rem;
  margin-top: 50px;
  padding-right: 20px;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  pointer-events: none;
}

/* ------------------------------------------------- */
.carousel__products {
  cursor: -webkit-grab;
  cursor: grab;
  overflow: hidden;
  margin-top: 30px;
  margin-bottom: 30px;
}

.inner-carousel__products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.carousel-item__products {
  position: relative;
  min-height: 20rem;
  min-width: 80rem;
  margin-top: 20px;
}

.carousel-item__products img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  pointer-events: none;
}

.section__products__cards {
  margin-right: 50px;
}

/* ----------------------------------------- */
.header__content {
  position: relative;
  min-height: 680px;
  margin-top: 100px;
  background-repeat: no-repeat;
  background-position: 450px 50px;
  background-size: contain;
}

.header__text-content__title {
  font-size: 70px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}

.header__text-content__text {
  margin-top: 40px;
  font-size: 18px;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 5px;
  color: #72696a;
}

.header__text-content-1 {
  width: 200px;
  height: 70px;
  background-color: #c4a586;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  margin: 40px 22px 0px 0px;
}

.header__text-content-2 {
  width: 200px;
  height: 70px;
  border: 1px solid #c4a586;
  color: #c4a586;
  font-size: 16px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  margin: 20px;
}

/* ----------------------------------- */
.section__clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 300px;
}

.section__clients-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 1110px;
  height: 130px;
}

.section__clients-container__title {
  width: 303px;
  color: #292019;
  font-size: 30px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}

.section__clients-container__images {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section__clients-container__images p {
  margin: 15px;
  font-size: 20px;
}

/* ------------------------------------------------- */
.big_image img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  pointer-events: none;
}

/* ------------------------------------------------- */
.section__categories {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section__categories__title {
  font-size: 25px;
  font-weight: 700;
}

.section__gallery {
  margin: 0 auto;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.section__gallery-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section__gallery-container p {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  font-size: 30px;
  font-weight: 700;
  color: #fff;
  z-index: 50;
}

.section__gallery-container img {
  border-radius: 7px;
}

.section__gallery-container__1__img-1 {
  position: relative;
  margin: 5px;
  cursor: pointer;
}

.section__gallery-container__1__img-1::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 4px;
  background-color: #00000083;
  border-radius: 7px;
  z-index: 10;
}

.section__gallery-container__1__img-2 {
  position: relative;
  margin: 5px;
  cursor: pointer;
}

.section__gallery-container__1__img-2::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 4px;
  background-color: #00000083;
  border-radius: 7px;
  z-index: 10;
}

.section__gallery-container__2__img-3 {
  position: relative;
  margin: 5px;
  cursor: pointer;
}

.section__gallery-container__2__img-3::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 4px;
  background-color: #00000083;
  border-radius: 7px;
  z-index: 10;
}

.section__gallery-container__2__img-4 {
  position: relative;
  margin: 5px;
  cursor: pointer;
}

.section__gallery-container__2__img-4::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 4px;
  background-color: #00000083;
  border-radius: 7px;
  z-index: 10;
}

@media (max-width: 640px) {
  .section__gallery {
    width: 320px;
    height: 320px;
  }
  .section__gallery p {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    z-index: 50;
  }
}

.furniture__collection__1__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 720px;
  overflow: hidden;
}

.furniture__collection__1-text__container {
  width: 400px;
  min-height: 188px;
}

.furniture__collection__1-title {
  width: 200px;
  min-height: 88px;
  font-size: 34px;
  font-weight: 700;
  padding-top: 110px;
  margin: 0 0 0 auto;
}

.furniture__collection__1-subtitle {
  width: 200px;
  font-size: 20px;
  padding-top: 110px;
  margin: 0 0 0 auto;
}

.furniture__collection__1-img {
  width: 500px;
  height: 351px;
  margin: auto 20px auto 0;
  background-blend-mode: multiply;
  background-image: url(./backgroung-img/thermex-mw-pps.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.furniture__collection__2__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 720px;
  min-height: 388px;
  overflow: hidden;
  margin-bottom: 15px;
}

.furniture__collection__2-text__container {
  width: 320px;
}

.furniture__collection__2-title {
  width: 195px;
  margin: 0 auto;
  font-size: 34px;
  font-weight: 700;
  padding-top: 30px;
}

.furniture__collection__2-subtitle {
  width: 195px;
  margin: 0 auto;
  font-size: 20px;
  padding-top: 110px;
}

.furniture__collection__2-img {
  width: 320px;
  height: 320px;
  margin: auto 0;
  background-blend-mode: multiply;
  background-image: url(./backgroung-img/tg-40.jpg);
  background-size: contain;
  background-position: center left;
  background-repeat: no-repeat;
}

.contact__form input {
  margin-top: 10px;
  margin-bottom: 10px;
  border: solid #ffa000;
}

.contact__modal {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
}

.contact__form h2 {
  color: #ff6600;
  margin-bottom: 15px;
}

.contact__form p {
  margin-bottom: 15px;
}

.cart-item__contact__form h3 {
  margin-bottom: 15px;
}

.cart-item__contact__form input {
  margin-top: 5px;
  margin-bottom: 5px;
  border: solid #ffa700;
}

.cart-item__contact__form p {
  margin-top: 15px;
}

.modal__button__item {
  font-size: 20px;
  font-weight: 600;
  margin-left: 15px;
}

.modal__button {
  font-size: 25px;
  color: #ff5100;
  font-weight: 700;
}

.ReactModal__Content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Montserrat', sans-serif;
}

.close__button {
  margin: 15px;
  font-size: 30px;
  font-weight: 600;
  color: #ff6600;
}

.go__button {
  margin: 15px;
  font-size: 30px;
  font-weight: 600;
  color: #51ff00;
}

.modal__open {
  z-index: 10;
}

.cart__item {
  margin: 0 auto;
  padding-bottom: 30px;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.product-block__image {
  width: 200px;
  height: 200px;
}

.cart-wrapper {
  margin: 0 auto;
  padding-top: 50px;
  max-width: 1200px;
  font-family: 'Montserrat', sans-serif;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content {
  width: 100%;
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container--cart {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart {
  width: 100%;
}

.cart__item div {
  margin: 15px;
}

.cart__item-count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart--empty {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
}

.cart--empty div {
  margin-bottom: 15px;
}

.cart--empty p {
  margin-bottom: 15px;
}

.cart__clear {
  cursor: pointer;
}

.cart__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 30px;
}

.cart__bottom-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 15px;
}

.cart__bottom-details span {
  margin: 15px;
}

.cart__bottom-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 15px;
}

.cart__bottom-buttons button {
  margin: 15px;
}

.cart__bottom-buttons a {
  margin: 15px;
}

@media (max-width: 1350px) {
  .carousel-item {
    position: relative;
    min-height: 20rem;
    min-width: 60rem;
    padding: 20px;
  }
}

@media (max-width: 992px) {
  .carousel-item {
    position: relative;
    min-height: 10rem;
    min-width: 40rem;
    padding: 20px;
  }
  .header__content {
    margin-top: 40px;
  }
  .header__text-content__title {
    font-size: 50px;
  }
  .header__text-content__text {
    font-size: 16px;
  }
  .nav-list li {
    margin-left: 22px;
  }
  .nav-list_item {
    margin-top: 5px;
  }
  .section__products__nav__top__see-all {
    margin-top: 50px;
  }
}

@media (max-width: 767px) {
  .cart-wrapper {
    padding-top: 0;
  }
  .nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .logo {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .top-nav {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .nav-list {
    width: 100%;
  }
  .basket {
    margin-right: 25px;
  }
  .section__products {
    margin-top: 50px;
  }
  .categories {
    width: 100%;
    margin-top: 30px;
  }
  .section__clients {
    max-height: 200px;
  }
  .section__clients-container {
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
  }
  .carousel__products {
    margin-top: 0;
  }
  .section__products__cards {
    margin-right: 20px;
  }
  .furniture__collection__1-text__container {
    min-height: 0;
  }
  .furniture__collection__1-title {
    padding-top: 0;
  }
  .carousel-item {
    position: relative;
    min-height: 10rem;
    min-width: 30rem;
    padding: 20px;
  }
  .furniture__collection__1-img {
    max-width: 320px;
  }
  .furniture__collection__1__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 650px;
  }
  .furniture__collection__1-text__container {
    margin: 0 auto;
  }
  .furniture__collection__1-title {
    margin: 0 auto;
  }
  .furniture__collection__1-subtitle {
    margin: 0 auto;
  }
  .furniture__collection__2__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 650px;
  }
  .furniture__collection__2-text__container {
    margin: 0 auto;
  }
  .furniture__collection__2-title {
    margin: 0 auto;
  }
  .furniture__collection__2-subtitle {
    margin: 0 auto;
  }
}

@media (max-width: 690px) {
  .carousel-item {
    position: relative;
    min-height: 10rem;
    min-width: 25rem;
    padding: 20px;
  }
  .furniture__collection__1-img {
    background-size: 250px;
    background-position: center;
  }
  .section__products__nav__top__left-title {
    padding-right: 50px;
  }
  .section__products__nav__top__left-selling {
    padding-right: 0;
  }
  .section__products__nav__top__left-selling span {
    font-size: 20px;
  }
  .section__products__nav__top__left-selling :first-child {
    padding-right: 30px;
  }
  .section__products__cards__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav-list li {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 10px 10px 10px 10px;
  }
  .header__text-content__title {
    font-size: 25px;
  }
  .furniture__collection__1-img {
    margin: 0 15px;
  }
  .furniture__collection__2-img {
    margin: 0 15px;
  }
}

@media (max-width: 430px) {
  .carousel-item {
    position: relative;
    min-height: 10rem;
    min-width: 20rem;
    padding: 20px;
  }
  .furniture__collection__1-text__container {
    width: 250px;
  }
  .section__products__nav {
    min-width: 300px;
    background-size: 0;
  }
  .furniture__collection__1-img {
    background-size: 250px;
  }
}

@media (max-width: 390px) {
  .top-nav {
    display: inline;
  }
}

@media (max-width: 370px) {
  .section__products__cards__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .section__products__nav__lower {
    width: 250px;
    margin: 0;
  }
  .logo {
    font-size: 30px;
  }
}

.how__to__order {
  margin: 15px 0px;
}

.how__to__order__title {
  margin-top: 50px;
}

.how__to__order__subtitle {
  margin-top: 50px;
  margin-bottom: 50px;
}

.contacts {
  margin: 50px;
}

.contacts p {
  margin-top: 20px;
}

.contacts__title {
  margin-top: 50px;
}

.footer {
  margin: 0 auto;
  width: 1440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

.footer__description__logo {
  margin: 10px;
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
  cursor: pointer;
}

.footer__description__subtitle {
  font-size: 18px;
  font-weight: 700;
  color: #808080;
}

.footer__useful-links__title {
  font-size: 25px;
  font-weight: 700;
  margin: 10px;
}

.footer__useful-links__column1__item {
  cursor: pointer;
  margin: 10px;
}

.footer__useful-links__column1 a {
  font-size: 18px;
  font-weight: 700;
  color: #808080;
}

.footer__support-links a {
  font-size: 18px;
  font-weight: 700;
  color: #808080;
  cursor: pointer;
}

.footer__support-links__title {
  font-size: 25px;
  font-weight: 700;
  margin: 10px;
}

.footer__support-links li {
  list-style-image: url(../public/img//Vector.png) !important;
  margin-left: 25px;
}

.footer__newsletter__title {
  font-size: 25px;
  font-weight: 700;
  margin: 10px;
}

.footer__newsletter a {
  font-size: 18px;
  font-weight: 700;
  color: #808080;
  cursor: pointer;
}

@media (max-width: 385px) {
  .footer__description {
    margin: 0 auto;
  }
}
/*# sourceMappingURL=globals.css.map */